@model CliMed.Models.Clinicas

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhe Clínica</h1>
 
<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rua)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rua)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nPorta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nPorta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nAndar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nAndar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodPostal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodPostal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Localidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NIF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NIF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contacto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contacto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EMail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EMail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-4">
            <img src="~/imagens/clinicas/@Model.Foto" width="250"  alt="Foto da Clinica @Model.Nome" title="@Model.Nome">
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdClinica">Editar</a> |
    <a asp-action="Index">Voltar a Listagem Inicial</a>
</div>
