@model IEnumerable<CliMed.Models.Medicos>

@{
    ViewData["Title"] = "Médicos";
}

<h1>Médicos</h1>

<p>
    <a asp-action="Create">Criar novo Médico</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nCedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNasc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnosExp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Morada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIF)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nCedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNasc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnosExp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIF)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idMedico">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.idMedico">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.idMedico">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
