@model CliMed.Models.Produtos

@{
    ViewData["Title"] = "Detalhe";
}

    <h1>Detalhe Produto</h1>

<div> 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-10">
            <img src="~/imagens/produtos/@Model.Foto" width="150" alt="Foto Não Disponivel" title="@Model.Designacao">
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IDProduto">Editar</a> |
    <a asp-action="Index">Voltar a Listagem Inicial</a>
</div>
